@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.heading{
    padding-top: 100px;
    text-align: center;
}

.heading h1 {
    font-size: 60px;
    color: #c02a2a;
    text-transform: uppercase;
    font-weight: 800;
    padding: 20px;

    /* Apply animation */
    animation: fadeIn 7s ease;
}

.form-container{
    padding: 50px;
    text-align: center;
    animation: fadeIn 5s ease;
}
.polynomial-field{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    width: 50%;
}

.buttons {
    padding: 30px;
    display: flex;
    gap: 20px; /* Adjust the gap between buttons */
    justify-content: center;
}

.calculate_button,
.clear_button {
    font-size: 20px;
    padding: 10px 70px;
}

.clear_button mat-icon {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}
.answer{
    padding: 20px;
    font-size: 30px;
    color: #c02a2a;
    font-weight: 800;
}
