<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polynomial Calculator</title>
</head>
<body class="body">
    <div class="heading">
        <h1>Polynomial Calculator</h1>
    </div>
        <div class="form-container">
            <form class="form-design" [formGroup]="polynomialForm">
                <div>
                    <mat-form-field class="polynomial-field">
                        <mat-label>Enter polynomial</mat-label>
                        <input matInput formControlName="polynomial1" type="text" placeholder="Format: ax^b + cx^d">
                        <mat-error>Please enter a valid polynomial</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Select</mat-label>
                        <mat-select formControlName="operation">
                          <mat-option value="addition">Addition</mat-option>
                          <mat-option value="subtraction">Subtraction</mat-option>
                        <mat-option value="multiplication">Multiplication</mat-option>
                        <mat-option value="division">Division</mat-option>
                        <mat-option value="derivation">Derivation</mat-option>
                        <mat-option value="integration">Integration</mat-option>
                        </mat-select>
                </mat-form-field>
                </div>
                <mat-form-field class="polynomial-field" *ngIf="shouldDisplaySecondPolynomial()">
                    <mat-label>Enter polynomial</mat-label>
                    <input matInput formControlName="polynomial2" type="text" placeholder="Format: ax^b + cx^d">
                    <mat-error>Please enter a valid polynomial</mat-error>
                </mat-form-field>
                
                <div class="buttons" >
                    <button class="calculate_button" (click)="calculate()" mat-raised-button color="primary">Calculate</button>
                    <button class="clear_button" (click)="clearForm()" mat-raised-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            <div>
                <mat-card *ngIf="displayAnswer"  class="answer" >
                  <mat-card-content>
                    <p>Answer: {{answer}}</p>
                  </mat-card-content>
                </mat-card>
            </div>
        </form>
    </div>
</body>
</html>
